body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8bbd0; 
}

header {
    background-color: #ad1457; 
    color: white;
    padding: 15px;
}

.dashboard-container {
    display: flex;
}

.menu {
    width: 200px;
    background-color: #f3e5f5; 
    padding: 20px;
}

.menu h3 {
    margin-top: 0;
}

.menu a {
    display: block;
    background-color: #ad1457; 
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
}

.menu a:hover {
    background-color: #8e0e36; 
}

.content {
    flex-grow: 1;
    padding: 20px;
}

footer {
    background-color: #f3e5f5; 
    color: #ad1457; 
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
    margin-bottom: 20px;
    color: #ad1457; 
}

.login-container input,
.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.login-container button {
    background-color: #ad1457; 
    color: white;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #8e0e36; 
}

.data-table {
    width: calc(100% - 40px);
    margin-top: 20px;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    border-bottom: 2px solid #ddd;
    padding: 12px;
    text-align: center;
}

.data-table th {
    background-color: #ad1457; 
    color: white;
}

.btn-add,
.btn-back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: #ad1457; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-add:hover,
.btn-back:hover {
    background-color: #8e0e36; 
}

.error {
    color: red;
    margin-bottom: 15px;
}
